<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!-- <div class="container marg-top-min20">
<div class="table-responsive tableContent mb-5">
  <table class="table table-striped min-width-table" >
      <thead>
          <tr>
              <th class="font-weight-300-table">S.NO.</th>
              <th class="font-weight-300-table">Name</th>
              <th class="font-weight-300-table">Owner Name</th>
              <th class="font-weight-300-table">Shop Type</th>
              <th class="font-weight-300-table">Address</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let shop of shopList ; let index=index">
              <td width="30">{{index + 1}}</td>
              <td>{{shop.name}}</td>
              <td>{{shop.ownerName }}</td>
              <td>{{shop.shopType }}</td>
              <td>{{shop.address}}</td>
              
          </tr>
      </tbody>
  </table>
</div>
</div> -->
<router-outlet></router-outlet>
